* {
  padding: 0;
  margin: 0;
}
.position-left {
  left: 0;
}
.position-right {
  right: 0;
}
.lx-nav {
  width: 100%!important;
}
.lx-nav li {
  margin: 0!important;
}
.lx-nav-flag {
  position: fixed;
  top: 1%;
  right: 0px;
  border: 1px solid #b6b6b6;
  padding: 5px;
}
.lx-nav-flag a {
  color: #333 !important;
  text-decoration: none !important;
}
.lx-nav-flag a:hover {
  cursor: pointer;
}
.lx-nav-box .img_next {
  margin-top: 10px;
}
#wrap .scale {
  -ms-transition: transform 5s;
  -webkit-transition: transform 5s;
  -moz-transition: transform 5s;
  transition: transform 5s;
  transform: rotate(359deg);
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -moz-transform: rotate(360deg);
  /* Firefox */
  -webkit-transform: rotate(360deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(360deg);
  /* Opera */
}
#wrap .box-title {
  text-align: center;
  font-size: 24px;
  padding: 1%;
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 1%;
}
#wrap .profile-box .header-box .header {
  font-size: 16px;
}
@media screen and (max-width: 720px) {
  #wrap .profile-box .header-box .header {
    font-size: 14px;
  }
}
#wrap .profile-box {
  width: 100%;
  margin: 0px auto;
  padding: 3%;
}
#wrap .profile-box .header-box {
  width: 90%;
  margin: 0 auto;
  padding: 0 5%;
  border-radius: 20px;
  background: #fcfff4;
  /* Old browsers */
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  /* IE 9 */
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
  /* IE6-9 */
}
#wrap .profile-box .header-box .header {
  list-style: none;
  padding: 10px 0;
  font-weight: 600;
  font-family: "微软雅黑";
}
#wrap .profile-box .header-box .header li {
  float: left;
  padding: 10px;
  text-align: center;
}
#wrap .profile-box .header-box .header .header-item {
  text-decoration: none;
  color: #000;
}
#wrap .profile-box .profile-content {
  padding: 3% 5%;
}
#wrap .profile-box .profile-content .profile-content-left-box {
  box-sizing: border-box;
  padding: 2%;
  float: left;
  width: 50%;
  background-color: #fff;
  text-align: justify;
  line-height: 1.5em;
}
#wrap .profile-box .profile-content .profile-content-left-box .cdutLogo {
  float: left;
  width: 36%;
  margin-right: 4%;
  vertical-align: middle;
}
#wrap .profile-box .profile-content .profile-content-left-box .profile-left-text {
  float: right;
  width: 60%;
}
#wrap .profile-box .profile-content .profile-content-left-box .profile-left-text p {
  margin-top: 2%;
  font-size: 16px;
}
#wrap .profile-box .profile-content .profile-content-left-box .profile-left-text ul {
  margin-top: 2%;
}
#wrap .profile-box .profile-content .profile-content-left-box .profile-left-text li {
  margin-left: 1.2em;
  font-size: 14px;
}
#wrap .profile-box .profile-content .profile-content-right-box {
  border-left: 2px dashed #d4d4d4;
  box-sizing: border-box;
  padding: 2%;
  float: right;
  width: 50%;
  background-color: #fff;
  text-align: justify;
  line-height: 1.5em;
}
#wrap .profile-box .profile-content .profile-content-right-box .profile-right-img {
  float: right;
  width: 36%;
}
#wrap .profile-box .profile-content .profile-content-right-box .Leshan {
  float: right;
  width: 100%;
  display: block;
  margin-left: 4%;
  margin-bottom: 2%;
}
#wrap .profile-box .profile-content .profile-content-right-box .profile-right-text {
  float: left;
  width: 60%;
}
#wrap .profile-box .profile-content .profile-content-right-box .profile-right-text p {
  margin-top: 2%;
  font-size: 16px;
}
#wrap .profile-box .profile-content .profile-content-right-box .profile-right-text ul {
  margin-top: 2%;
}
#wrap .profile-box .profile-content .profile-content-right-box .profile-right-text li {
  margin-left: 1.2em;
  font-size: 14px;
}
@media screen and (min-width: 1174px) {
  #wrap .skill-box .skill-profile {
    width: 40%;
    height: 100px;
  }
  #wrap svg.skill-score {
    width: 38%;
    height: 100px;
  }
}
@media screen and (max-width: 1173px) and (min-width: 791px) {
  #wrap .skill-box .skill-content {
    width: 700px;
    margin: 0 auto;
  }
  #wrap .skill-box .skill-profile {
    width: 200px;
    height: auto;
  }
  #wrap .skill-box svg.skill-score {
    width: 200px;
    height: 100px;
  }
}
#wrap .skill-box {
  background: #fcfff4;
  /* Old browsers */
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  /* IE 9 */
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
  /* IE6-9 */
  padding: 3%;
  margin: 0px auto;
  width: 100%;
}
#wrap .skill-box .skill-content-item {
  padding: 1% 10%;
}
#wrap .skill-box .skill-content-item .skill-shadow1 {
  -ms-box-shadow: 0 0 10px #d4d4d4;
  -webkit-box-shadow: 0 0 10px #d4d4d4;
  -moz-box-shadow: 0 0 10px #d4d4d4;
  box-shadow: 0 0 10px #d4d4d4;
}
#wrap .skill-box .skill-content-item .skill-shadow2 {
  -ms-box-shadow: 0 0 10px #c3c3c3;
  -webkit-box-shadow: 0 0 10px #c3c3c3;
  -moz-box-shadow: 0 0 10px #c3c3c3;
  box-shadow: 0 0 10px #c3c3c3;
}
#wrap .skill-box .skill-content-item .skill-shadow3 {
  -ms-box-shadow: 0 0 10px #b2b2b2;
  -webkit-box-shadow: 0 0 10px #b2b2b2;
  -moz-box-shadow: 0 0 10px #b2b2b2;
  box-shadow: 0 0 10px #b2b2b2;
}
#wrap .skill-box .skill-content-item .skill-shadow4 {
  -ms-box-shadow: 0 0 10px #a1a1a1;
  -webkit-box-shadow: 0 0 10px #a1a1a1;
  -moz-box-shadow: 0 0 10px #a1a1a1;
  box-shadow: 0 0 10px #a1a1a1;
}
#wrap .skill-box .skill-content-item .skill-shadow5 {
  -ms-box-shadow: 0 0 10px #909090;
  -webkit-box-shadow: 0 0 10px #909090;
  -moz-box-shadow: 0 0 10px #909090;
  box-shadow: 0 0 10px #909090;
}
#wrap .skill-box .skill-content-item .skill-profile {
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  float: left;
  padding: 1%;
  font-size: 14px;
  line-height: 1.5em;
}
#wrap .skill-box .skill-content-item .skill-name {
  height: 100px;
  width: 100px;
  -ms-border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  position: relative;
  -ms-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
}
#wrap .skill-box .skill-content-item .skill-name .js-logo {
  position: absolute;
  top: 23px;
  left: 33px;
}
#wrap .skill-box .skill-content-item .skill-name .js-text {
  position: absolute;
  top: 56px;
  left: 17px;
  color: #666;
  font-weight: 600;
}
#wrap .skill-box .skill-content-item .skill-name .html-logo {
  position: absolute;
  top: 23px;
  left: 18px;
}
#wrap .skill-box .skill-content-item .skill-name .html-text {
  position: absolute;
  height: 22px;
  top: 60px;
  left: 12px;
  font-size: 12px;
  color: #666;
  font-weight: 600;
}
#wrap .skill-box .skill-content-item .skill-name .css-logo {
  position: absolute;
  top: 23px;
  left: 57px;
}
#wrap .skill-box .skill-content-item .skill-name .css-text {
  position: absolute;
  top: 60px;
  left: 53px;
  font-size: 12px;
  color: #666;
  font-weight: 600;
}
#wrap .skill-box .skill-content-item .skill-name .java-logo {
  position: absolute;
  top: 20px;
  left: 17px;
}
#wrap .skill-box .skill-content-item .skill-name .java-text {
  position: absolute;
  top: 55px;
  left: 14px;
  font-size: 14px;
  color: #666;
  font-weight: 600;
}
#wrap .skill-box .skill-content-item .skill-name .sql-logo {
  position: absolute;
  top: 20px;
  left: 54px;
}
#wrap .skill-box .skill-content-item .skill-name .sql-text {
  position: absolute;
  top: 55px;
  left: 51px;
  color: #666;
  font-weight: 600;
}
#wrap .skill-box .skill-content-item .skill-name .nodejs-logo {
  position: absolute;
  top: 20px;
  left: 15px;
}
#wrap .skill-box .skill-content-item .skill-name .nodejs-text {
  position: absolute;
  top: 53px;
  left: 27px;
  color: #666;
  font-weight: 600;
}
#wrap .skill-box .skill-content-item .skill-name .ps-logo {
  position: absolute;
  top: 22px;
  left: 35px;
}
#wrap .skill-box .skill-content-item .skill-name .ps-text {
  position: absolute;
  top: 59px;
  left: 39px;
  color: #666;
  font-weight: 600;
}
#wrap .skill-box .skill-content-item .skill-name:hover {
  cursor: pointer;
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  transform: rotate(10deg);
  -ms-box-shadow: 5px 5px 5px red;
  -webkit-box-shadow: 5px 5px 5px red;
  -moz-box-shadow: 5px 5px 5px red;
  box-shadow: 0 0 10px red;
}
#wrap .skill-box .skill-content-item svg.skill-score {
  float: left;
  margin-top: 10px;
}
#wrap .skill-box .skill-content-item svg.skill-score rect {
  -ms-transition: width 1s;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  transition: width 1s;
}
@media screen and (min-width: 1174px) {
  #wrap .project-content-img-box {
    height: 232px;
  }
}
@media screen and (max-width: 1025px) and (min-width: 576px) {
  #wrap .project-content-img-box {
    height: 462px;
  }
}
@media screen and (max-width: 575px) and (min-width: 517px) {
  #wrap .project-content-img-box {
    height: 696px;
  }
}
#wrap .project-box {
  background-color: #fff;
  padding: 4% 5%;
  margin: 0px auto;
  width: 80%;
}
#wrap .project-box .project-content {
  position: relative;
  border-left: 5px solid #b6b6b6;
}
#wrap .project-box .project-content .project-content-top {
  font-size: 16px;
  font-weight: 600;
  padding: 20px 20px;
}
#wrap .project-box .project-content .project-content-top .project-icon-circle {
  position: absolute;
  z-index: 999;
  top: 19px;
  left: -14px;
  height: 22px;
  width: 22px;
  border: 2px solid #fff;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  background-color: #b6b6b6;
}
#wrap .project-box .project-content .project-content-bottom {
  font-size: 14px;
  padding: 0 0 30px 30px;
  line-height: 1.5em;
}
#wrap .project-box .project-content .project-content-bottom .project-content-img-box {
  position: relative;
}
#wrap .project-box .project-content .project-content-bottom .project-content-img-box .project-content-item-box {
  float: left;
  margin-right: 10px;
  width: 166px;
  height: 220px;
}
#wrap .project-box .project-content .project-content-bottom .project-content-img-box .project-content-item-box .loading {
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 166px;
}
#wrap .project-box .project-content .project-content-bottom .project-content-img-box .project-content-item-box .loading img {
  margin: 45%;
  border: transparent;
}
@media screen and (max-width: 1080px) {
  #wrap .hobby-box .hobby-bookmark {
    font-size: 14px;
    font-weight: 600;
  }
}
@media screen and (min-width: 1081px) {
  #wrap .hobby-box .hobby-bookmark {
    font-size: 16px;
    font-weight: 600;
  }
}
#wrap .hobby-box {
  background-color: #eee;
  padding: 4% 5%;
  margin: 0px auto;
  width: 80%;
}
#wrap .hobby-box .hobby-content {
  position: relative;
  margin: 0 auto;
  border: 1px solid #b6b6b6;
  width: 100%;
  height: 300px;
}
#wrap .hobby-box .hobby-content .hobby-bookmark-circle-left {
  position: absolute;
  top: 40%;
  right: 6%;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #eee;
}
#wrap .hobby-box .hobby-content .hobby-bookmark-circle-right {
  position: absolute;
  top: 40%;
  left: 6%;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #eee;
}
#wrap .hobby-box .hobby-content .hobby-bookmark {
  position: absolute;
  padding-top: 10px;
  z-index: 999;
  text-align: center;
  width: 7%;
  height: 14%;
  background-color: #b6b6b6;
}
#wrap .hobby-box .hobby-content .hobby-bookmark:hover {
  cursor: pointer;
}
#wrap .hobby-box .hobby-content .bookmark-1 {
  top: 5%;
  left: 1%;
}
#wrap .hobby-box .hobby-content .bookmark-2 {
  top: 24%;
  left: 1%;
}
#wrap .hobby-box .hobby-content .bookmark-3 {
  top: 43%;
  left: 1%;
}
#wrap .hobby-box .hobby-content .bookmark-4 {
  top: 62%;
  left: 1%;
}
#wrap .hobby-box .hobby-content .bookmark-5 {
  top: 81%;
  left: 1%;
}
#wrap .hobby-box .hobby-content .bookmark-6 {
  top: 5%;
  right: 1%;
}
#wrap .hobby-box .hobby-content .bookmark-7 {
  top: 24%;
  right: 1%;
}
#wrap .hobby-box .hobby-content .bookmark-8 {
  top: 43%;
  right: 1%;
}
#wrap .hobby-box .hobby-content .bookmark-9 {
  top: 62%;
  right: 1%;
}
#wrap .hobby-box .hobby-content .bookmark-10 {
  top: 81%;
  right: 1%;
}
#wrap .hobby-box .hobby-content .bookmark-left {
  -ms-border-radius: 0 40px 40px 0;
  -webkit-border-radius: 0 40px 40px 0;
  -moz-border-radius: 0 40px 40px 0;
  border-radius: 0 40px 40px 0;
}
#wrap .hobby-box .hobby-content .bookmark-right {
  -ms-border-radius: 40px 0 0 40px;
  -webkit-border-radius: 40px 0 0 40px;
  -moz-border-radius: 40px 0 0 40px;
  border-radius: 40px 0 0 40px;
}
#wrap .hobby-box .hobby-content .hobby-image-box {
  position: absolute;
  display: none;
  top: 5%;
  width: 74%;
  height: 90%;
  background-color: #eee;
  margin: auto;
}
#wrap .hobby-box .hobby-content .hobby-image-box img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
#wrap .hobby-box .hobby-content .hobby-image-box .hobby-img-close {
  position: absolute;
  background: url(../icons/hobbyImgClose2.png) no-repeat center;
  background-color: #999;
  height: 16%;
  width: 10%;
  display: none;
  box-sizing: border-box;
}
#wrap .hobby-box .hobby-content .hobby-image-box .hobby-img-close:hover {
  cursor: pointer;
  background: url(../icons/hobbyImgClose1.png) no-repeat center;
}
#wrap .hobby-box .hobby-content .hobby-image-box .loading {
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 100%;
}
#wrap .hobby-box .hobby-content .hobby-image-box .loading img {
  margin: 15% 45%;
}
#wrap .hobby-box .hobby-content .hobby-leftImgBox-beforeSlider {
  left: 0%;
}
#wrap .hobby-box .hobby-content .hobby-rightImgBox-beforeSlider {
  right: 0%;
}
