*{
	padding: 0;
	margin: 0;
}
.position-left{
	left: 0;
}
.position-right{
	right: 0;
}
.lx-nav{
	width: 100%!important;
	li{
		margin: 0!important;
	}
}
//--------------------------------------fixed按钮 响应式 媒体查询
	@media screen and (max-width: 720px){
		.lx-nav-box{
			bottom: 10px;
			right: 1%;
		}
		.lx-nav-flag{
			display: none;
		}
		.lx-nav-pre{
			display: none;
		}
		.lx-nav-next{
			display: none;
		}
		.lx-nav-toTop{
			display: none;
		}
		.lx-nav-mobile-toTop{
			display: block;
		}
	}
	@media screen and (min-width: 721px){
		.lx-nav-box{
			top: 50px;
			right: 2%;
		}
		.lx-nav-mobile-toTop{
			display: none;
		}
	}
//----------------------------------------------

.lx-nav-flag{
	position: fixed;
	top: 1%;
	right: 0px;
	border: 1px solid #b6b6b6;
	padding: 5px;
	a{
		color: #333 !important;
		text-decoration: none !important;
	}
	a:hover{
		cursor: pointer;
	}
}
.lx-nav-box{
	.img_next{
		margin-top: 10px;
	}
}
.lx-nav-toTop{
	position: fixed;
	bottom: 10px;
	right: 10px;
	margin-top: 10px;
	height: 50px;
	width: 80px;
	background-color: #85a9e5;
	border-bottom: 15px solid #7ad84e;

	.goal{
		position: absolute;
		height: 30px;
		width: 70%;
		left: 15%;
		top: 20%;
		background-color: transparent;
		border: 2px solid #fff;
		border-bottom: 1px solid #fff;
	}
	.ball{
		position: absolute;
		bottom: -20px;
		left: 10%;
	}
	.foot{
		position: absolute;
		bottom: -20px;
		left: 11px;
		display: none;
	}
	.ball:hover{
		-ms-transition: transform 2s;
		-webkit-transition: transform 2s;
		-moz-transition: transform 2s;
		transition: transform 2s;
		transform:scale(0.5, 0.5) translate(70px, -50px);
		-ms-transform:scale(0.5, 0.5) translate(70px, -50px);	/* IE 9 */
		-moz-transform:scale(0.5, 0.5) translate(70px, -50px); 	/* Firefox */
		-webkit-transform:scale(0.5, 0.5) translate(70px, -50px); /* Safari 和 Chrome */
		-o-transform:scale(0.5, 0.5) translate(70px, -50px); 	/* Opera */
	}
	.ball:hover +.foot{
		display: block;
	}
	.foot:hover +.foot{
		display: block;
	}
}
.lx-nav-mobile-toTop{
	position: fixed;
	bottom: 10px;
	right: 10px;
}
.js-Totop:hover{
	cursor: pointer;
}


#wrap{
	.scale{
		-ms-transition: transform 1s;
		-webkit-transition: transform 1s;
		-moz-transition: transform 1s;
		transition: transform 1s;
		transform:rotate(720deg);
		-ms-transform:rotate(720deg); 	/* IE 9 */
		-moz-transform:rotate(720deg); 	/* Firefox */
		-webkit-transform:rotate(720deg); /* Safari 和 Chrome */
		-o-transform:rotate(720deg); 	/* Opera */
	}
	.scale-slow{
		-ms-transition: transform 5s;
		-webkit-transition: transform 5s;
		-moz-transition: transform 5s;
		transition: transform 5s;
		transform:rotate(720deg);
		-ms-transform:rotate(720deg); 	/* IE 9 */
		-moz-transform:rotate(720deg); 	/* Firefox */
		-webkit-transform:rotate(720deg); /* Safari 和 Chrome */
		-o-transform:rotate(720deg); 	/* Opera */
	}

	.box-title{
		text-align: center;
		font-size: 24px;
		padding: 1%;
		border-bottom: 1px solid #b6b6b6;
		margin-bottom: 1%;
	}

	//---------------------------------profile-box 响应式 媒体查询
	.profile-box{
		.header-box{
			.header{
				font-size: 16px;
			}
		}

		.profile-content{
			font-size: 14px;

			.profile-left-text{
				float: right;
				width: 60%;
			}
			.profile-right-text{
				float: left;
				width: 60%;
			}
		}
		
	}
	@media screen and (max-width: 720px){
		.profile-box{
			.header-box{
				.header{
					font-size: 10px;
				}
			}

			.profile-content{
				font-size: 12px;

				.profile-left-text{
					float: none;
					width: 100%;
				}
				.profile-right-text{
					float: none;
					width: 100%;
				}
				.profile-right-img{
					margin-left: 5px;
				}
			}
		}
		
	}	
	//------------------------------------------

	.profile-box{
		width: 100%;
    	margin: 0px auto;
    	padding: 3%;
		
		.header-box{
			width: 90%;
			margin: 0 auto;
			//background-color: #d4d4d4;
			//height: 100px;
			padding: 0 5%;
			border-radius: 20px;
			background: #fcfff4; /* Old browsers */
			background: -ms-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* IE 9 */
		    background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

			.header{
				list-style: none;
				padding: 10px 0;
				font-weight: 600;
				font-family: "微软雅黑";

				li{
					float: left;
					padding: 10px;
					text-align: center;
				}
				.header-item{
					text-decoration: none;
					color:#000;
				}
			}
		}

		.profile-content{
			// background-color: #ebf1f6;
			//background-color:  #fafafa;
			//margin-top: 20px;
			padding: 3% 5%;

			.profile-content-left-box{
				
				box-sizing: border-box;
				padding: 2%;
				float: left;
				width: 50%;
				background-color: #fff;
				text-align: justify;
				line-height: 1.5em;
				
				.cdutLogo{
					float: left;
					width: 36%;
					margin-right: 4%;
					vertical-align:middle;
				}
				.profile-left-text{
					//float: right;
					//width: 60%;
					p{
						margin-top: 2%;
						font-size: 16px;
					}
					ul{
						margin-top: 2%;
					}
					li{
						margin-left: 1.2em;
						font-size: 14px;
					}
				}
			}
			.profile-content-right-box{
				border-left:2px dashed #d4d4d4;
				box-sizing: border-box;
				padding: 2%;
				float: right;
				width: 50%;
				background-color: #fff;
				text-align: justify;
				line-height: 1.5em;
				
				.profile-right-img{
					float: right;
					width: 36%;
				}
				.Leshan{
					position: relative;
					float: right;
					width: 100%;
					display: block;
					margin-left: 4%;
					margin-bottom: 5%;
					
					.loading{
						position: absolute;
						background-color: #fff;
						width: 100%;
						height: 100%;
						
						img{
							margin: 23% 42%;
						}
					}

					img.Leshan-img{
						width: 100%;
						display: block;
					}
				}
				.profile-right-text{
					//float: left;
					//width: 60%;
					p{
						margin-top: 2%;
						font-size: 16px;
					}
					ul{
						margin-top: 2%;
					}
					li{
						margin-left: 1.2em;
						font-size: 14px;
					}
				}

			}
		}
	}
	

	//------------------------------------skill-box 响应式 媒体查询
	
	@media screen and (min-width: 1174px) {
		.skill-content-item{
			padding: 1% 10%;
		}
		.skill-box{
			.skill-profile{
				width: 40%;
				height: 100px;
			}
	    }

	    .skill-score{		
			width: 38%;		
		}
	}
	@media screen and (max-width: 1173px) and (min-width:791px){
		//针对skill-name圆框  提行
		.skill-content-item{
			padding: 1% 10%;
		}
	    .skill-box{
	    	.skill-content{
	    		width: 700px;
	    		margin: 0 auto;
	    	}
			.skill-profile{
				width: 200px;
				height: auto;
				min-height: 100px;
			}
			.skill-score{
				width: 200px;
			}
	    }
	}
	@media screen and (max-width:790px){
		.skill-content-item{
			border-bottom: 1px solid #b6b6b6;
			padding: 20px 10px;
		}
		.skill-profile{
			width: 100%;
		}
		.skill-name{
			width: 40%;
		}
	}
	//判断是否使用圆框
	@media screen and (min-width:608px){
		.skill-mobile-title{
	    	display: none;
	    }
		.skill-name{
	    	height: 100px;
			width: 100px;
			-ms-border-radius:50px;
			-webkit-border-radius:50px;
			-moz-border-radius:50px;
			border-radius: 50px;
			//background-color: #666;				
			margin-left: 5%;
			margin-right: 5%;
			margin-top: 10px;	
			-ms-transition: transform 0.5s;
			-webkit-transition: transform 0.5s;
			-moz-transition: transform 0.5s;
			transition: transform 0.5s;
	    }
	    .sm-text{
			display: none;
		}
	}
	@media screen and (max-width:607px){
		.skill-name{
			// height: 60px;
			// width: 25%;
			// margin-top: 30px;
   			//margin-right: 5%;

			// span,img{
			// 	display: none;
			// } 
			// .sm-text{
			// 	display: block;
			// 	height: 50%;
			// 	width: 80%;
			// 	text-align: center;
			// 	margin: 15% auto;
			// }
			display: none;
		}
		.skill-mobile-title{
	    	display: block;
	    	color: #ff0084;
	    }
	}
	@media screen and (max-width:500px){
		.sm-text{
			font-size: 12px;	
		}

	}
	
//------------------------------------------------
	.skill-box{
		background: #fcfff4; /* Old browsers */
		background: -ms-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* IE 9 */
		background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

	
		padding: 3%;
		margin: 0px auto;
		width: 100%;
		
		
		// .skill-border-top-left{
		// 	height: 20px;
		// 	width: 50%;
		// 	border-bottom: 20px solid transparent;
		// 	border-right: 20px solid #fff; 
		// 	float: left;
		// }
		// .skill-border-top-right{
		// 	height: 20px;
		// 	width: 50%;
		// 	border-bottom: 20px solid transparent;
		// 	border-left: 20px solid #fff; 
		// 	float: right;
		// }
		.skill-content{

		}
		.skill-content-item{
			
			.skill-shadow1{
				-ms-box-shadow: 0 0 10px #d4d4d4;
				-webkit-box-shadow: 0 0 10px #d4d4d4;
				-moz-box-shadow: 0 0 10px #d4d4d4;
				box-shadow:  0 0 10px #d4d4d4;
			}
			.skill-shadow2{
				-ms-box-shadow: 0 0 10px #c3c3c3;
				-webkit-box-shadow: 0 0 10px #c3c3c3;
				-moz-box-shadow: 0 0 10px #c3c3c3;
				box-shadow:  0 0 10px #c3c3c3;
			}
			.skill-shadow3{
				-ms-box-shadow: 0 0 10px #b2b2b2;
				-webkit-box-shadow: 0 0 10px #b2b2b2;
				-moz-box-shadow: 0 0 10px #b2b2b2;
				box-shadow:  0 0 10px #b2b2b2;
			}
			.skill-shadow4{
				-ms-box-shadow: 0 0 10px #a1a1a1;
				-webkit-box-shadow: 0 0 10px #a1a1a1;
				-moz-box-shadow: 0 0 10px #a1a1a1;
				box-shadow:  0 0 10px #a1a1a1;
			}
			.skill-shadow5{
				-ms-box-shadow: 0 0 10px #909090;
				-webkit-box-shadow: 0 0 10px #909090;
				-moz-box-shadow: 0 0 10px #909090;
				box-shadow:  0 0 10px #909090;
			}
			.skill-profile{
				// height: 100px;
				// width: 40%;
				//background-color: #d4d4d4;
				-ms-border-radius:5px;
				-webkit-border-radius:5px;
				-moz-border-radius:5px;
				border-radius: 5px;	
				margin-top: 10px;			
				float: left;
				padding: 1%;
				font-size: 14px;
				line-height: 1.5em;
				//margin-right: 5%;
			}
			.skill-name{
				float: left;
				position: relative;
				

				.js-logo{
					position: absolute;
					top: 23px;
					left: 33px;
				}
				.js-text{
					position: absolute;
					top: 56px;
    				left: 17px;
    				// height: 30px;
					color: #666;
					font-weight: 600;
				}
				.html-logo{
					position: absolute;
					top: 23px;
					left: 18px;
				}
				.html-text{
					position: absolute;
					height: 22px;
    				top: 60px;
    				left: 12px;
					font-size: 12px;
					color: #666;
					font-weight: 600;
				}
				.css-logo{
					position: absolute;
					top: 23px;
					left: 57px;
				}
				.css-text{
					position: absolute;
					top: 60px;
    				//height: 28px;
    				left: 53px;
					font-size: 12px;
					color: #666;
					font-weight: 600;
				}
				.java-logo{
					position: absolute;
					top: 20px;
    				left: 17px;

				}
				.java-text{
					position: absolute;
					top: 55px;
    				//height: 42px;
    				left: 14px;		
					font-size: 14px;
					color: #666;
					font-weight: 600;
				}
				.sql-logo{
					position: absolute;
					top: 20px;
					left: 54px;
				}
				.sql-text{
					position: absolute;
					top: 55px;
    				left: 51px;
					color: #666;
					font-weight: 600;
				}
				.nodejs-logo{
					position: absolute;
					top: 20px;
					left: 15px;
				}
				.nodejs-text{
					position: absolute;
					top: 53px;
    				left: 27px;
					color: #666;
					font-weight: 600;
				}
				.ps-logo{
					position: absolute;
					top: 22px;
					left: 35px;
				}
				.ps-text{
					position: absolute;
					top: 59px;
    				left: 39px;
					color: #666;
					font-weight: 600;
				}
			}
			.skill-name:hover{
				cursor: pointer;
				-ms-transform: rotate(10deg);
				-webkit-transform: rotate(10deg);
				-moz-transform: rotate(10deg);
				transform: rotate(10deg);
				-ms-box-shadow: 5px 5px 5px red;
				-webkit-box-shadow: 5px 5px 5px red;
				-moz-box-shadow: 5px 5px 5px red;
				box-shadow:  0 0 10px red;
				
			}
			.skill-score{
				float: left;
				 height: 60px;
				// width: 38%;
				margin-top: 30px;
				.skill-score-animate{
					height: 30px;
					margin-top: 15px;
					width: 1%;
					background-color: #666;
					-ms-transition: width 1s;
					-webkit-transition: width 1s;
					-moz-transition: width 1s;
					transition: width 1s;
				}

				rect{
					-ms-transition: width 1s;
					-webkit-transition: width 1s;
					-moz-transition: width 1s;
					transition: width 1s;
				}
			}
		}

		
	}
	
	//-----------------------------------------project-box 响应式 媒体查询
	
	@media screen and (min-width: 1025px) {
		.project-content-img-box{
			//height: 232px;
			.project-content-item-box{
				margin-right: 10px;
				width: 166px;
				height: 220px;
				.loading{
					height: 100%;
					width: 166px;
				}
			}
		}
	}
	@media screen and (max-width: 1025px) and (min-width:600px){
		.project-content-img-box{
			//height: 462px;
			.project-content-item-box{
				margin-right: 20px;
				width: 166px;
				height: 220px;
				.loading{
					height: 100%;
					width: 166px;
				}
			}
		}

	}
	@media screen and (max-width: 599px){
		.project-content-img-box{
			//height: 696px;
		}
		.project-content-item-box{
			margin-right: 20px;
			margin-top: 10px;
			width: 83px;
			height: 110px;
			.loading{
				height: 100%;
				width: 83px;
			}
			img{
				width: 83px;
				height: 110px;
			}
		}
	}
	
	//---------------------------------------------------
	.project-box{
		// background: #fcfff4; /* Old browsers */
		// background: -ms-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* IE 9 */
		// background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6-15 */
		// background: -webkit-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* Chrome10-25,Safari5.1-6 */
		// background: linear-gradient(to bottom,  #fcfff4 0%, #a1ac9c 40%, #b3bead 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

		background-color: #fff;
		padding: 4% 5%;
		margin: 0px auto;
		width: 80%;

		.project-content{
			position: relative;
			border-left: 5px solid #b6b6b6;

			.project-content-top{

				// height: 42px;
				// line-height: 42px;
				font-size: 16px;
				font-weight: 600;
				padding: 20px 20px;

				.project-icon-circle{
					position: absolute;
					z-index: 999;
					top: 19px;
					left: -14px;
					height: 22px;
					width: 22px;
					border: 2px solid #fff;
					-moz-border-radius: 11px;
					-ms-border-radius: 11px;
					-webkit-border-radius: 11px;
					border-radius: 11px;
					background-color: #b6b6b6;
				}
			}
			.project-content-bottom{
				font-size: 14px;
				padding: 0 0 30px 30px;
				line-height: 1.5em;
				
				.project-content-img-box{
					position: relative;
					
					.project-content-item-box{
						//min-height: 230px;
						float: left;
						//width: 166px;
						//height: 220px;

						.loading{
							position: absolute;
							background-color: #fff;
							//height: 100%;
							//width: 166px;
							
							img{
								margin: 50% 40%;
								border: transparent;
							}
						}
					}
					
					
					// img{
					// 	//margin-top: 1%;
					// 	margin-left: 3%;
					// 	margin-bottom: 10px;
					// 	//padding: 1% 0;
					// 	border: 1px solid #b6b6b6;
					// }
				}
			}
		}

	}
	
	//--------------------------------------------hobby-box 响应式 媒体查询
	@media screen and (max-width: 1080px){
		.hobby-box{
			padding: 4% 5%;
			margin: 0px auto;
			width: 100%;

			.hobby-bookmark{
				font-size: 14px;
				font-weight: 600;
			}
		}
		
	}
	@media screen and (min-width: 1081px){
		.hobby-box{
			padding: 4% 5%;
			margin: 0px auto;
			width: 80%;

			.hobby-bookmark{		
				font-size: 16px;
				font-weight: 600;
			}
		}
		
	}
	
	//------------------------------------------------
	.hobby-box{
		background-color: #eee;
		margin-bottom: 80px;

		.box-small-title{
			text-align: center;
        	font-weight: bold;
        	margin-top: 30px;
        	margin-bottom: 15px;

        	span{
        		text-shadow: 0 -1px 0 #858585;
        	}
        }
		.hobby-content{
			position: relative;
			margin: 0 auto;
			//margin-bottom: 50px;
			border: 1px solid #b6b6b6;
			width: 100%;
			height: 300px;
			line-height: 300px;
			text-align: center;
			color: #666;
			
			
				.hobby-bookmark-circle-left{
					position: absolute;
					top: 40%;
    				right: 6%;
					width: 6px;
					height: 6px;
					border-radius: 3px;
					background-color: #eee;
				}
				.hobby-bookmark-circle-right{
					position: absolute;
					top: 40%;
    				left: 6%;
					width: 6px;
					height: 6px;
					border-radius: 3px;
					background-color: #eee;
				}

			.hobby-bookmark{
				position: absolute;
				z-index: 999;
				text-align: center;
				//font-size: 16px;
				//font-weight: 600;
				color: #000;
				width: 7%;
				height: 40px;
				line-height: 40px;
				background-color: #b6b6b6;

			}
			.hobby-bookmark:hover{
				cursor: pointer;
			}
			.bookmark-1{
				top: 5%;
				left: 1%;
			}
			.bookmark-2{
				top: 24%;
				left: 1%;
			}
			.bookmark-3{
				top: 43%;
				left: 1%;
			}
			.bookmark-4{
				top: 62%;
				left: 1%;
			}
			.bookmark-5{
				top: 81%;
				left: 1%;
			}
			.bookmark-6{
				top: 5%;
				right: 1%;
			}
			.bookmark-7{
				top: 24%;
				right: 1%;
			}
			.bookmark-8{
				top: 43%;
				right: 1%;
			}
			.bookmark-9{
				top: 62%;
				right: 1%;
			}
			.bookmark-10{
				top: 81%;
				right: 1%;
			}

			.bookmark-left{
				-ms-border-radius:0 40px 40px 0;
				-webkit-border-radius:0 40px 40px 0;
				-moz-border-radius:0 40px 40px 0;
				border-radius: 0 40px 40px 0;
			}
			.bookmark-right{
				-ms-border-radius:40px 0 0 40px;
				-webkit-border-radius:40px 0 0 40px;
				-moz-border-radius:40px 0 0 40px;
				border-radius: 40px 0 0 40px;
			}

			.hobby-image-box{
				position:absolute; 	
				display: none;			
				top: 5%;
				//left: 14%;
				//width: 74%;
				width: 60%;
				height: 90%;
				background-color: #fff;
				margin: auto;
				border-radius: 5px;

				-ms-box-shadow: 0px 0px 5px #d4d4d4;
				-webkit-box-shadow: 0px 0px 5px #d4d4d4;
				-moz-box-shadow: 0px 0px 5px #d4d4d4;
				box-shadow:  0px 0px 5px #d4d4d4;
				
				img{
					display: block;
					margin: auto;
					max-width: 100%;
					max-height: 100%;
				}
			
				.hobby-img-close{
					position:absolute;
					background: url(../icons/hobbyImgClose2.png) no-repeat center;
					background-color: #999;
					height: 16%;
    				width: 10%;
    				right: -10%;
					display: none;
					box-sizing: border-box;
					-ms-box-shadow: 0px 0px 2px #999;
					-webkit-box-shadow: 0px 0px 2px #999;
					-moz-box-shadow: 0px 0px 2px #999;
					box-shadow:  0px 0px 2px #999;
					//border: 1px solid #666;

				}
				.hobby-img-close:hover{
					cursor: pointer;
					background: url(../icons/hobbyImgClose1.png) no-repeat center;
				}
				.loading{
					position: absolute;
					background-color: #fff;
					height: 100%;
					width: 100%;
					padding: 18%;
					
					img{
						margin: 20% 45%;
					}
				}

			}
			.hobby-leftImgBox-beforeSlider{
				left: 0%;
			}
			.hobby-rightImgBox-beforeSlider{
				right: 0%;
			}
		}

		.football-content{
			position: relative;
			margin: 0 auto;
			border: 1px solid #b6b6b6;
			width: 100%;
			height: 400px;
			background-color: #85a9e5;
			border-bottom: 100px solid #7ad84e;			

			.goal{
    		    position: absolute;
			    height: 280px;
			    width: 70%;
			    left: 15%;
			    top: 28px;
			    background-color: transparent;
			    border: 10px solid #fff;
			    border-bottom: 3px solid #fff;

			    .goal-item{
					width: 23%;
					height: 23%;
					float: left;
					margin-left: 1.6%;
					margin-top: 0.7%;
					background-color: #fff;
					text-align: center;
					padding: 20px;
					font-size: 16px;
					font-weight: 600;
				}
				.goal-item:hover{
					cursor: pointer;
				}
				.goal-item-last{
					margin-right: 1.6%;
				}
				
				.football-img-box{
					display: none;
					position: absolute;
					width: 23%;
					height: 23%;
					background-color: #333;
					
					-ms-border-radius:10px;
					-webkit-border-radius:10px;
					-moz-border-radius:10px;
					border-radius: 10px;

					-ms-box-shadow: 0 0 10px #333;
					-webkit-box-shadow: 0 0 10px #333;
					-moz-box-shadow: 0 0 10px #333;
					box-shadow:  0 0 10px #333;

					.football-img-box-close{
						position: absolute;
						right: -32px;
						top: 0;
						width: 32px;
    					height: 32px;
    					display: none;
						background: url(../icons/hobbyImgClose2.png) no-repeat center;
					}
					.football-img-box-close:hover{
						cursor: pointer;
    					background: url(../icons/hobbyImgClose1.png) no-repeat center;
					}
					.football-img-box-img{
						max-width: 100%;
						max-height: 100%;
						margin: auto;
						display: block;
					}
					.loading{
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
						background-color: #333;
						display: none;
						padding: 18%;

						img{
							margin: 20% 48%;
						}
					}
				}
        	}

			.spot{
				position: absolute;
				left: 48%;
    			bottom: -94px;
				width: 30px; 
			    height: 10px; 
			    background: #fff; 
			    -moz-border-radius: 100px;
			    -webkit-border-radius: 100px;
			    border-radius: 100px;
				
			}

			.ball{
				position: absolute;
    			bottom: -95px;
    			left: 46%;
			}
			// .foot{
			//     position: absolute;
			// 	bottom: -108px;
   //  			left: 43.5%;
			// 	display: block;
			// 	opacity: 0;
			// }
			
			.ball:hover +.foot{
				display: block;
				cursor: pointer;
			}
			.foot:hover +.foot{
				display: block;
				cursor: pointer;
			}

		}
	}
	
	//--------------------------------------------contact-box 响应式 媒体查询
	@media screen and (min-width: 861px){
		.contact-ul{

			li{
				float: left;
				height: 100px;
				width: 30%;
			}
		
		}
		
	}
	@media screen and (max-width: 860px){
		.contact-ul{
			.contact-ul-div{
				
			}
			li{
				margin-bottom: 10px;
			}
		}
		
	}
	@media screen and (min-width: 1081px){
		
		
	}
	
	//------------------------------------------------
	.contact-box{
		//background-color: #eee;
		margin: 10px auto;
		width: 80%;
		padding-top: 80px;
		//border-top: 2px solid #b6b6b6;
	}

	.contact-ul{
		//margin-top: 150px;
		

		li{
			position: relative;
			//float: left;
			background-color:white;
			height: 100px;
			//width: 30%;
			margin-right: 5%;

			.contact-ul-div{
				padding: 10px;
			}

			h4{
				text-align: center;
			}
			img{
				position: absolute;
				top: 14%;
				left: 25%;
			}
			.contact-content{
				padding: 5%;
				text-align: center;
				font-size: 16px;
				font-weight: 600;
			}
		}
		li:last-child{
			margin-right: 0;
		}

	}
	
}

.copyright{
	margin: 10px;
	text-align: center;
}

//动画加载图标
.loader{
	height: 50px;
	width: 50px;
	text-align: center;
	padding: 1em;
	margin: 0 auto 1em;
	// display: -webkit-box;  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
 //    display: -moz-box;     /* 老版本语法: Firefox (buggy) */
 //    display: -ms-flexbox;  /* 混合版本语法: IE 10 */
 //    display: -webkit-flex; /* 新版本语法: Chrome 21+  Safari */
 //    display: flex;         /* 新版本语法: Opera 12.1, Firefox 22+ */
 //    align-items:center;
	// -webkit-align-items:center;
	// box-align:center;
	// -moz-box-align:center;
	// -webkit-box-align:center;

	.loader-item{
		display: inline-block;
		vertical-align: middle;
		// float: left;
		// width: 20%;
		// margin-right: 20%;
		width: 18%;
    	margin-right: 4%;
		background-color: #fff;
		border-radius: 2px;
	}
	.loader-item:last-child{
		margin-right: 0;
	}
	.loader1{
		animation:mymove1 0.6s infinite;
		-webkit-animation:mymove1 0.6s infinite; /* Safari 和 Chrome */
	}
	.loader2{
		animation:mymove2 0.6s infinite;
		-webkit-animation:mymove2 0.6s infinite; /* Safari 和 Chrome */
	}
	.loader3{
		animation:mymove3 0.6s infinite;
		-webkit-animation:mymove3 0.6s infinite; /* Safari 和 Chrome */
	}

	@keyframes mymove1{
		0%{
			height: 100%;
		} 
		50%{
			height: 50%;
		}
		100%{
			height: 100%;
		}
	}
	@keyframes mymove2{
		0%{
			height: 75%;
		} 
		33.3333333333%{
			height: 100%;
		}
		100%{
			height: 50%;
		}
	}
	@keyframes mymove3{
		0%{
			height: 50%;
		} 
		50%{
			height: 100%;
		}
		100%{
			height: 50%;
		}
	}
}
.loader-hobby{
	.loader-item{
		background-color: #6c6c6c;
	}
}

